body{
    background: #E2E8F0;
    width:100%;
    padding:0;
    margin:0;
    background: #E2E8F0;
}
.header.fixed.z-1.w-full {
    top: 0px;
}
@media only screen and (max-width: 640px) {
/* Barre de navigation */
#titreprincipal {
    
    font-weight: bold;
  }
    .text-white {
        margin-left: 35%;
    }
    .w-6.h-6{
        color: white;
        margin-left: -374px;
        position:absolute;
        visibility: visible;
        left: 386px;
    }
    #user-menu-button {
        visibility: hidden;
    }
    
    #navbar-default {
        margin-right: 16rem;
    }
    .material-symbols-outlined {
        color: white;
        position:absolute;
        margin-left: 73px;
        margin-top: -12px;
        right: 25px;
        
    }
    .arrow.material-symbols-outlined {
        height: 40px;
        width: 40px;
        background: crimson;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        right: 20px;
        bottom: 20px;
        cursor: pointer;
    }
    .title-blog.text-center.text-lg.font-bold {
        margin-top: 3rem; ;
    }
    .bio.max-w-sm.bg-white.border.border-gray-200.rounded-lg.shadow-md.dark\:bg-gray-800.dark\:border-gray-700{
        margin: auto;
        margin-top: 1rem;
    }
    
    .mentions
    {
        margin-right: 1px;
    }
    /* formulaire */
    .titre {
        margin-top: 4rem;
        margin-bottom: 1rem;

    }
    #titre {
        margin-top: 8rem;
    }
    #title-form {
        margin-top: 4rem;
    }
    #body-form {
        margin-top: -7rem;
    }
    .form {
        margin-top: 2rem;
    }
   #button {
        margin-top: 5rem;
        background: rgb(240, 13, 13);
        color: white;
        text-align: center;
        position: absolute;
        margin-left: 37%;
    }
    #form {
        height: 919px;
        margin-top: 8rem;
    }
    /* footer */
    .footer {
        margin-top: 58px;

    }
    .form {
        margin-top: 2rem;
    }
}
@media screen and (min-width: 641px){ 

    .arrow.material-symbols-outlined {
        height: 60px;
        width: 60px;
        background: crimson;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        right: 20px;
        bottom: 20px;
        cursor: pointer;
    }
  /* Barre de navigation */
  .material-symbols-outlined {
    color: white;
    position:absolute;
    margin-left: 73px;
    margin-top: -12px;
    right: 25px;
    font-size: 3rem;
    margin-top: -0.5em;
  
}
#user-dropdowm {
    margin-left: 47rem;
}
  #navbar-default {
    position: relative;
    margin-right: 20rem;

  }
  #titreprincipal {
    font-size: 30px;
    font-weight: bold;
  }
  #lien {
    color: #E2E8F0;
    font-size: 20px;
  }
   
    #img-blog {
        height: 300px;
    }
   
 /* formulaire */
 #title-contact{
     font-size: 25px;
     margin-top: 5rem;
 }
 .form {
    margin-top: 2rem;
}
#body-form {
    margin-top: 0rem;
}
#title-form {
    font-size: 25px;
 }
#button {
    background: rgb(240, 13, 13);
    color: white;
    text-align: center;
    position: relative;
    left: 50%;
}
#form {
    height: 645px;
}
.footer.w-full.bottom-0 {
    margin-top: 3rem;
}

 }