body{
    background: #E2E8F0;
    width:100%;
    padding:0;
    margin:0;
    background: #E2E8F0;
}
.header.fixed.z-1.w-full {
    top: 0px;
}
@media (max-width: 640px) {
/* Barre de navigation */
    .text-white {
        margin-left: 35%;
    }
    #titreprincipal {
        font-weight: bold;
      }
    .w-6.h-6{
        color: white;
        margin-left: -374px;
        position:absolute;
        visibility: visible;
        left: 386px;
    }
    #user-menu-button {
        visibility: hidden;
    }
    
    #navbar-default {
        margin-right: 16rem;
    }
    .material-symbols-outlined {
        color: white;
        position:absolute;
        margin-left: 73px;
        margin-top: -12px;
        right: 25px;
    }
    .arrow.material-symbols-outlined {
        height: 40px;
        width: 40px;
        background: crimson;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        right: 20px;
        bottom: 20px;
        cursor: pointer;
    }
    /* Accueil */
    #image {
        margin-top: 3rem;
        box-shadow:0 0 10px ;
    }
    .max-w-sm.rounded.overflow-hidden.shadow-lg
    {
        
        margin: auto;
        margin-top: 1rem;
    }
    .mentions
    {
        margin-right: 1px;
    }
    #card {
        margin-top: 1rem;
        box-shadow:0 0 10px ;
    }
    /* formulaire */
    .form {
        margin-top: 2rem;
    }
   #button {
    background: rgb(240, 13, 13);
        color: white;
        text-align: center;
        position: absolute;
        margin-left: 37%;
    }
    #form {
        height: 645px;
    }
}
@media screen and (min-width: 641px){ 

    .arrow.material-symbols-outlined {
        height: 60px;
        width: 60px;
        background: crimson;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        right: 20px;
        bottom: 20px;
        cursor: pointer;
    }
  /* Barre de navigation */
  .material-symbols-outlined {
    color: white;
    position:absolute;
    margin-left: 73px;
    margin-top: -12px;
    right: 25px;
    font-size: 3rem;
    margin-top: -0.5em;
  
}
#user-menu-button {
    visibility: hidden;
}
#user-dropdown {
    margin-left: 56rem;
}
  #navbar-default {
    position: relative;
    margin-right: 20rem;

  }
  #titreprincipal {
    font-size: 30px;
    font-weight: bold;
  }
  #lien {
    color: #E2E8F0;
    font-size: 20px;
   
    
  }
   #image {
    
    margin-top: 4rem;
    box-shadow:0 0 10px ;
   }
    #card{
        margin: 20px;
        box-shadow:0 0 10px ;
    }
    #img-blog {
        height: 300px;
    }
    /* blog */
    #titreblog {
        font-size: 25px;
    }
 /* formulaire */
 #title-form {
    font-size: 25px;
 }
 .form {
    margin-top: 2rem;
}
#button {
    background: rgb(240, 13, 13);
    color: white;
    text-align: center;
    position: relative;
    left: 50%;
}
#form {
    height: 645px;
}
 }